<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mileTracker3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA01FDB726852C4200DB4BE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA01FDC826852C4500DB4BE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA01FDD326852C4500DB4BE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
